<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Home page</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename= 'css/main.css')}}"
    />
  </head>

  <body>
    <h4>Welcome Home Page</h4>

    <div class="commentbox"></div>
    <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
    <script>
      commentBox("5636436753645568-proj");
    </script>

    <!-- <img src="/static/Tigerhawk-gold on black@2x.png" > -->



  </body>


</html>
