{% extends "base.html" %} {% block title %}Intro{% endblock %} {% block content
%}

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Intro page</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename= 'css/main.css')}}"
    />
  </head>

  <body>
    <br />
    <h1 style="text-align: center">Welcome to Intro Page</h1>

    <br />
    <br />

    <h1 style="text-align: center">
      Hello! We are Team 6! Our team name is Kiwi!!
    </h1>
    <br />
    <br />

    <div style="margin-left: 1in;"> 

    <h3><a href="jessie">Jessie:</a></h3>

    <br />
    <br />

    <h3><a href="meesam">Meesam:</a></h3>

    <br>

    <img src="/static/meesam_img.png" class="people-img"  />

    <br>

    
    <h5  >Major: Computer Science and Engineering (CSE) and Electrical Engineering (EE)</h5>
    <h5>Minor: Mathematics</h5>
    <br>
    <h5>Skills:</h5>
    <ul>
      <li>Software Development: Python, Java, MATLAB</li>
      <li>Electronics</li>
      <li>Team collaboration and Leadership </li>
    </ul>
    <h5>Interests:</h5>
    <ul>
      <li>Soccer</li>
      <li>Dancing</li>
      <li>Crytocurrency</li>

    </ul>
    <h5>Contact Information:</h5>
    <ul>
      <li>
        <span class="material-icons icon"> email </span> Email: <a href = "mailto: meesamamir-syed@uiowa.edu">meesamamir-syed@uiowa.edu</a>
      </li>
      <li>
        <span class="material-icons icon"> phone </span> Phone: 765-714-4632
      </li>
    </ul>

    <br />
    <br />
    <h3><a href="som">Som:</a></h3>
    <br />
    <br />
    <h3><a href="tri">Tri:</a></h3>
    <img src="/static/tri_img.png" class="people-img" />

    <br />
    <br />

    <h5>Major: Computer Science and Engineering (CSE)</h5>
    <h5>Skills:</h5>
    <ul>
      <li>Databases</li>
      <li>Web development</li>
      <li>Machine Learning</li>
      <li>Cloud computing</li>
    </ul>
    <h5>Interests:</h5>
    <ul>
      <li>Art</li>
      <li>Internet</li>
    </ul>
    <h5>Contact Information:</h5>
    <ul>
      <li>
        <span class="material-icons icon"> email </span> Email:
        <a href="maito: trisentosawisesa@gmail.com"
          >trisentosawisesa@gmail.com</a
        >
      </li>
      <li>
        <span class="material-icons icon"> phone </span> Phone: 312-982-1468
      </li>
    </ul>
    
  </div>
  
</body>

</html>

{% endblock %}
