{% extends "base.html" %} {% block title %}Jessie{% endblock %} {% block content %}

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Jessie's page</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename= 'css/main.css')}}"
    />
  </head>

  <body>
    <h5>Go Back to Home Page</h5>
    <break></break>
    <h10>Welcome to Jessie's Page</h10>

    <div class="commentbox"></div>
    <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
    <script>
      commentBox("5636436753645568-proj");
    </script>


    <h5>Go to Meesam's page ---> </h5>


  </body>


</html>
{% endblock %}
