{% extends "base.html" %} {% block title %}Tri{% endblock %} {% block content %}

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Jessie's page</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename= 'css/main.css')}}"
    />
  </head>

  <body>
    <br />
    <a href="/" class="normal-link"
      >Go Back to Home Page <span class="material-icons icon"> home </span></a
    >
    <br />
    <br />
    <h3 style="text-align: center;">Welcome to Jessie's Page</h3>
    <div style="margin-left: 1in;">

    <style>
    h4 {
      color: royalblue;
    }
    </style>

    <h4>My name is Jessie</h4>
    <img src="/static/jessie_img4.png" class="people-img" />
    
    <h5>I am from an island called Taiwan<h5>
    <img src="/static/jessie_img3.gif" />
    <h5>I was born and rasied there till I turned 18 and moved to the US to study for college</h5>
    <br>

    <h4>⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰ ⋱⋰</h4>
    <h5>I have a 3 year old pet cat named Mimi</h5>
    <img src="/static/jessie_img1.jpg">

    <br>
    <br/>
    <h4>Some fun facts about me:</h4>
    <ul>
      <li>I speak 3 languages</li>
      <li>I switched my major 4 times </li>
      <li>I lived in the Philippine by myself for almost a year when I was 17</li>
    </ul>

    <br>


    
    <!-- If link to the right, for the span use navigate_next instead of navigate_before for the symbol -->
    <div class="d-flex">
      <a href="tri" class="normal-link mr-auto p-2"
        ><span class="material-icons icon"> navigate_before </span> Go to
        Tri's Page</a
      >
      <a href="meesam" class="normal-link ml-auto p-2">
        Go to Meesam's Page
        <span class="material-icons icon"> navigate_next </span></a
      >
    </div>
    <br />
    <br />

    <div class="commentbox"></div>
    <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
    <script>
      commentBox("5636436753645568-proj");
    </script>

    
  </body>
</html>
{% endblock %}
