{% extends "base.html" %} {% block title %}Tri{% endblock %} {% block content %}

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Som's page</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename= 'css/main.css')}}"
    />
  </head>

  <body>
    
    <br />
    <a href="/" class="normal-link"
      >Go Back to Home Page <span class="material-icons icon"> home </span></a>
    <br />
    <br />
    <h4 style="text-align: center;" >Welcome to Som's Page</h4>

    <br>
    <br>

    <br />
    
    <!-- If link to the right, for the span use navigate_next instead of navigate_before for the symbol -->
    <div class="d-flex">
      <a href="meesam" class="normal-link mr-auto p-2"
        ><span class="material-icons icon"> navigate_before </span> Go to
        Meesam's Page</a
      >
      <a href="tri" class="normal-link p-2"
        >Go to Tri's Page<span class="material-icons icon">
          navigate_next
        </span></a
      >
    </div>
  

    <br />
    <br />

    <div class="commentbox"></div>
    <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
    <script>
      commentBox("5636436753645568-proj");
    </script>

    <br />
    <br />
  
  </body>

</html>

{% endblock %}

{% endblock %}
