{% extends "base.html" %} {% block title %}Tri{% endblock %} {% block content %}

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Tri's page</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename= 'css/main.css')}}"
    />
  </head>

  <body>
    <br />
    <a href="/" class="normal-link"
      >Go Back to Home Page <span class="material-icons icon"> home </span></a
    >
    <br />
    <br />
    <h4>Welcome to Som's Page</h4>

    <img src="/static/moe.jpg" class="people_img" />

    <!--img src="/static/tri_img.png" class="people_img" /-->

    <h5>Major: Electrical Engineering (EE)</h5>
    <h5>Skills:</h5>
    <ul>
      <li>PLC design</li>
      <li>MATLAB Simulink</li>
      <li>G-code programming</li>
    </ul>
    <h5>Interests:</h5>
    <ul>
      <li>Video game</li>
      <li>Miniature board game</li>
    </ul>
    <h5>Contact Information:</h5>
    <ul>
      <li>
        <span class="material-icons icon"> email </span> Email:
        karma0024@naver.com
      </li>
      <li>
        <span class="material-icons icon"> phone </span> Phone: 
      </li>
    </ul>

    <div class="commentbox"></div>
    <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
    <script>
      commentBox("5636436753645568-proj");
    </script>

    <!-- If link to the right, for the span use navigate_next instead of navigate_before for the symbol -->
    <a href="som" class="normal-link"
      ><span class="material-icons icon"> navigate_before </span> Go to Som's
      Page</a
    >
    <br />
    <br />
  </body>
</html>
{% endblock %}
